<h1>Create an Event</h1>
<form action="/events/create" method="post">
  <input name="name" type="text" placeholder="Event Name" required>
  <input name="description" type="text" placeholder="Event Description">
  <input name="slug" type="text" placeholder="event-slug" required>
  <input type="submit" value="Post">
</form>
